<div class="pxRangePickerStyle" ng-controller="pxRangePickerCtrl as ctrl">
    <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-rangepicker/px-rangepicker.html" rel="import" dcy-on-load load-handler="ctrl.initialize();">
    
    <px-rangepicker px-attributes   px-show-time-zone="{{ctrl.pxshowTimeZone}}" 
                                    px-hide-time="{{ctrl.pxhideTime}}" 
                                    px-hide-presets="{{ctrl.pxhidePresets}}"
                                    px-block-past-dates="{{ctrl.pxblockPastDates}}" 
                                    px-block-future-dates="{{ctrl.pxblockFutureDates}}" 
                                    px-show-buttons="{{ctrl.showButtons}}" 
                                    px-range="{{ctrl.pxRange}}" 
                                    px-date-format="{{ctrl.pxdateFormat}}" 
                                    px-time-format="{{ctrl.pxtimeFormat}}" 
                                    px-time-zone="{{ctrl.pxtimeZone}}">
    </px-rangepicker>
</div>